@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h3>Hello Admin!</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="card col-md-12 border-dark mb-3" style="width: 18rem; height: 5.5rem; margin: 25px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="card-body">
                    <a asp-action="ManageBuyers" class="btn btn-outline-danger btn-lg btn-block">Manage Buyers</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card-body">
                    <a asp-action="ManageSellers" class="btn btn-outline-danger btn-lg btn-block">Manage Sellers</a>
                </div>
            </div>
        </div>
    </div>
</div>
