@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p> Thank you for confirming your email. Please <a asp-area="Identity" asp-page="/Account/Login"> Login </a> with your credentials. </p>