@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    This web application hosts auctions which are set up by sellers. Every auction auctions one product. Users who want to sell products can register as sellers and can
    host as many auctions as they want.
</p>
<p>
    Users who wish to bid on auctions must register as buyers. Buyers can bid as many times and on as many auctions as they want.
</p>
<p>
    PLEASE NOTE: A buyer cannot host an auction and a seller cannot bid on auctions. Moreover, this web application just provides sellers with a platform to host their auctions,
    they cannot view auctions from other sellers.
</p>
