@using Microsoft.AspNetCore.Identity
@using WebAuctionApp.Areas.Identity.Data


@{
    ViewData["Title"] = "Web Auction App";
}

<div class="row">
    <div class="col-12">
        <h3>Welcome to the Web Auction App.</h3>
        <hr/>
        <p>Please Login or Register to continue using this service.</p>
    </div>
</div>



